#Criando um perceptron simples

In [1]:
# construindo o perceptron 
# definindo a função de agregação de informação (soma ponderada)
def soma(X, W):
  soma = 0
  for i in range(len(X)):
    soma += X[i]*W[i]
  return soma

In [2]:
# construindo a função de ativação: Função Degrau
def funcao_ativacao_degrau(u, b=0):
  if u+b>=0:
    return 1
  else:
    return 0

In [11]:
X = [1, 2, 3] # entradas do perceptron
W = [0.1, 0.2, 0.3] # pesos do perceptron
b = 0 # viés, Bies

In [12]:
# vendo se o neuronio foi ativado ou não
u = soma(X, W)
resposta = funcao_ativacao_degrau(u, b)
print("Para os parametros de entrada (X e W), o neurônio{0} foi ativado, pois o f({1:.2f})={2}".
      format("" if resposta == 1 else " não", 
             u,
             resposta))

Para os parametros de entrada (X e W), o neurônio foi ativado, pois o f(1.40)=1

## Casos de aplicação do perceptron

Vamos analisar a base `escolha_faculdade.xlsx` com exemplos de faculdades identificadas pelo ID e com um conjunto de variáveis que as descrevem. As variáveis são: 

- reconhecida_MEC: a faculdade é reconhecida pelo MEC? 1=sim ; 0=não
- facilidade_pagamento: a faculdade apresenta facilidades para pagamento? 1=sim ; 0=não
- flexibilidade_ensino: o quão flexível é o método de ensino? 1=somente presencial ; 2=somente EAD ; 3=misto
- entrada_mercado: o que a faculdade oferece para facilitar a entrada do aluno no mercado de trabalho? 0=sem suporte ; 1=feiras ; 2=feiras e estágios ; 3=feiras, estágios e convênios com empresas
- score_infraestrutura: qual nota de 0 a 100 a escola possui para sua infraestrutura? 
- empregabilidade: qual a porcentagem de alunos egressos empregados? 
- acesso_facil: a localização possui fácil acesso, como metrô, ônibus, estacionamento? 1=sim ; 0=não

In [13]:
# importando as bibliotecas importantes
import pandas as pd
import math

In [14]:
df = pd.read_excel("escolha_faculdade.xlsx", index_col="ID")

In [15]:
df.head()

,reconhecida_MEC,facilidade_pagamento,flexibilidade_ensino,entrada_mercado,score_infraestrutura,empregabilidade,acesso_facil
ID,,,,,,,
1,1,1,1,3,50,78,1
2,1,0,2,1,60,91,0
3,1,1,1,1,55,13,1
4,0,1,3,0,78,68,1
5,0,1,2,2,74,72,0

In [16]:
escolas = df.T

## Informação importante:

*   Os pesos já estavam prontos
*   Usar os pesos prontos para modelar saídas do problema é "testar/usar" o modelo
*   Fazer a máquina chegar nestes pesos ideais é a etapa de "treinamento" do modelo

In [17]:
pesos = [ 0.10, 0.05, 0.05, 0.2, 0.25, 0.3, 0.05 ]

In [18]:
escolas

ID                    1   2   3   4   5   6   7   8   9   10
reconhecida_MEC        1   1   1   0   0   1   1   0   1   0
facilidade_pagamento   1   0   1   1   1   0   1   1   0   1
flexibilidade_ensino   1   2   1   3   2   2   1   3   3   1
entrada_mercado        3   1   1   0   2   2   3   0   3   1
score_infraestrutura  50  60  55  78  74  73  56  30  89  30
empregabilidade       78  91  13  68  72  47  68  13  89  25
acesso_facil           1   0   1   1   0   0   1   1   0   1

In [19]:
# Criando a função de ativação: Função degrau, com o THRESHOLD = 35
# THRESHOL: Limite
def funcao_classificacao(u, b=0):
  if u+b>=35:
    return 1
  else:
    return 0

In [20]:
# Criando a função de ativação: Função Identidade ao Quadrado
def funcao_regressao(u):
  return u**2

Utilizando a Classificação

In [21]:
# Criando uma lista vazia para salvar as respostas
resp = []

# Para cada índice da escola (de 1 a 10), faça
for i in range(1, 11):
  atv = funcao_classificacao(soma(escolas[i], pesos)) # Obtendo a resposta da rede
  resp.append(atv)

#imprimindo a lista
resp

[1, 1, 0, 1, 1, 0, 1, 0, 1, 0]

In [22]:
df["VALE APENA ?"] = resp

Utilizando a Regressão

In [23]:
# Criando novamente uma lista, mas para as respostas da regressão
resp = []

for i in range(1, 11):
  atv = funcao_regressao(soma(escolas[i], pesos))
  resp.append(atv)

# Imprime a lista
resp

[1350.5625,
 1823.2900000000002,
 327.61000000000007,
 1612.0224999999994,
 1652.4225,
 1085.7025,
 1242.5625,
 135.7225,
 2480.0399999999995,
 235.62250000000003]

In [24]:
df["SCORE"] = resp

In [25]:
df

,reconhecida_MEC,facilidade_pagamento,flexibilidade_ensino,entrada_mercado,score_infraestrutura,empregabilidade,acesso_facil,VALE APENA ?,SCORE
ID,,,,,,,,,
1,1,1,1,3,50,78,1,1,1350.5625
2,1,0,2,1,60,91,0,1,1823.2900
3,1,1,1,1,55,13,1,0,327.6100
4,0,1,3,0,78,68,1,1,1612.0225
5,0,1,2,2,74,72,0,1,1652.4225
6,1,0,2,2,73,47,0,0,1085.7025
7,1,1,1,3,56,68,1,1,1242.5625
8,0,1,3,0,30,13,1,0,135.7225
9,1,0,3,3,89,89,0,1,2480.0400
10,0,1,1,1,30,25,1,0,235.6225

In [26]:
# Mostrando as 10 faculdades com maiores SCORES
df.nlargest(10, "SCORE")

,reconhecida_MEC,facilidade_pagamento,flexibilidade_ensino,entrada_mercado,score_infraestrutura,empregabilidade,acesso_facil,VALE APENA ?,SCORE
ID,,,,,,,,,
9,1,0,3,3,89,89,0,1,2480.0400
2,1,0,2,1,60,91,0,1,1823.2900
5,0,1,2,2,74,72,0,1,1652.4225
4,0,1,3,0,78,68,1,1,1612.0225
1,1,1,1,3,50,78,1,1,1350.5625
7,1,1,1,3,56,68,1,1,1242.5625
6,1,0,2,2,73,47,0,0,1085.7025
3,1,1,1,1,55,13,1,0,327.6100
10,0,1,1,1,30,25,1,0,235.6225
8,0,1,3,0,30,13,1,0,135.7225